.idea/
.vscode/

.mnemonic
.env

# Build artifacts
out/
cache/
broadcast/
**/artifacts/
**/artifacts/**

deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

**/target/
state.json
relayer.env
config.toml
